
.carousel-inner{
    height: 450px;

}

.carousel-item{
    height: 95% !important;
    width:  100% !important;
    border: 1px solid red;
}

.x1{
    color: black;
    margin-bottom: -1px;
    font-size: x-large;
    font-weight: bold;
}

.x3{
    color: rgb(250, 235, 235);
    margin-top: 0.1cm;
    font-size: x-large;
    font-weight: bold;
}

.x4{
    color: rgb(231, 239, 231);
    margin-bottom: 1px;
    font-size: large;
}

.x2{
    color: rgb(7, 7, 7);
    font-weight: bold;
}

.lowzindex{
    z-index: -10;
}