 .bodyevent{
    background-image: url(../../img/blue-background.avif);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
  }   

  .titleofevent {
    
    margin: 0 auto;
    width: 100%;
    max-width: 40rem;
    font-size: 4rem;
    text-align: center;
  }
  .cardofevent{
    width: 90%;
    max-width: 400px;
    padding: 5rem 2.5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: bulr(1rem);
    box-shadow: 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);

  }
  .cbl{
    background-color: rgba(225,225,225,0.1);
  }

  .cb2{
    color: black;
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 0.3));
  }

  .card-number {
    color: rgba(225, 225, 225, 0.08);
    font-size: 8rem ;
    z-index: -1;
    position: absolute;
    top: -1rem;
    right: 2.5rem;
  }

  .btnofevent{
    border-radius: 2rem;
  }

  .btnofevent:hover {
    box-shadow: 0 0.3rem rgba(0, 0, 0, 0.3);
  }

  .bgevent{
    background-image: linear-gradient(black,blue);
  }

.cardtext{
  color: white;
}
.cardlink{
  color:rgb(120, 247, 120);
}